.env
test.pdf
invoice.py
app.log
/output

__pycache__/

extracted_data.csv
Formatted_Invoices.docx
Formatted_Invoices_From_Excel.docx
input_path.txt

temp_image.png
cropped_image.png
cropped_image_final.png

ocr_output.txt

~$*
