.env
test.pdf
invoice.py
test_table_change_textshape.py
test_table_count.py
test_table_mod.py
test_total.py
app.log
/output

__pycache__/

extracted_data.csv
Formatted_Invoices.docx
Formatted_Invoices_From_Excel.docx

input_path.txt

temp_image.png
cropped_image.png
cropped_image_final.png
shutterstock_cropped_page_1.png



ocr_output.txt

~$*

output.csv


*.docx
*.pdf
*.png
*.rtf
*.db

claude.md


